<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Caterer Registration</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/stylesheets/caterer/bootstrap.min.css" rel="stylesheet">
	    <link href="/static/stylesheets/caterer/datepicker3.css" rel="stylesheet">
	    <link href="/static/stylesheets/caterer/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <% if(message === ''){%>
                        <div class="panel-heading">Register</div>
                        <div class="panel-body">
                            <form role="form" method="POST" action="/catererReg">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Name" name="Name" autofocus=""/>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="email" placeholder="Email" name="Email" autofocus=""/>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Password" name="Password" type="password" value=""/>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Confirm Password" name="ConfirmPassword" type="password" value=""/>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Address" name="Address" cols='10' rows="3" ></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Phone 1" name="Phone1" type="number" value=""/>
                                    </div>
                                    <div class="form-group">

                                        <input class="form-control" placeholder="Phone 2" name="Phone2" type="number" value=""/>
                                    </div>
                                    <div class="formfield">
                                        <Label>Packages:</Label>
                                        <% packages.forEach(item => {%>
                                            <input  class="form-control" type="number" name="Price" placeholder="<%= item.PackageName%>"/> <br>    
                                        <%})%>

                                    </div>
                                    <label>No of Persons</label>
                                    <div class="checkbox">
                                        <label>
                                            <input class="chk" name="lessThan100" type="checkbox" value="" />lessThan100 <br>
                                            <input class="chk" name="lessThan1000" type="checkbox" value="" />lessThan1000 <br>
                                            <input class="chk" name="moreThan1000" type="checkbox" value="" />moreThan1000<br>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Description" name="description" type="text" value=""/>
                                    </div>
                                    <label>Cities:</label>
                                    <div>
                                        <select class="cityMulti" name="cityMulti" multiple>

                                                <% cities.forEach((item) => { %>
                                                    <option value=<%=item.CityId%>><%= item.CityName %> </option>
                                                <% })%>
                                        </select>
                                        <label>press command(mac os)/ctrl(windows) along with click to select multiple</label>
                                    </div>
                                    <label>Caterers:</label>
                                    <div>
                                        <div>
                                            <select class="cuisineMulti" name="cuisineMulti" multiple>
                                                <% cuisines.forEach(item => {%>
                                                    <option value=<%= item.CuisinesId%>><%= item.CusineName %></option>
                                                <% })%>
                                            </select>
                                            <label>press command(mac os)/ctrl(windows) along with click to select multiple</label>
                                        </div>
                                    
                                    </div>
                                    <input type="submit" value="Register" class="btn btn-primary" />
                                    <a href="/catererhome" class="btn btn-primary" style="margin-left: 3%;">Login</a>
                                    <a href='/' style="margin-left: 4%;">Go to Home Page</a>
                                </fieldset>
                            </form>
                        </div>
                    <%}%>
                    <%if(message !== ''){%>
                        <div class="panel-body">
                                <form role="form" method="POST" action="/catererReg">
                                    <fieldset>
                                        <div>
                                            <img src="https://img.icons8.com/color/48/000000/ok.png">
                                            <p style="color:green;font-size: 21px;margin-top: 2%;margin-left: 6%;"><%=message%></p>      
                                        </div>
                                        
                                        <a href="/catererhome" class="btn btn-primary" style="margin-top: 4%;margin-left: 24%">Login</a>
                                        <a href='/' style="margin-left: 4%;">Go to Home Page</a>    
                                    </fieldset>
                                </form>
                            </div>
                    <%}%>
                </div>
            </div><!-- /.col-->
        </div><!-- /.row -->	
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>
        <script src="/static/javascripts/caterers/jquery-1.11.1.min.js"></script>
        <script src="/static/javascripts/caterers/bootstrap.min.js"></script>
        <script>
            $('.chk').click(function(){
                this.checked ? this.value = 'on' : this.value = ' '
            })
        </script>
    </body>
</html>